<ion-view view-title="Coupon Details">
  <ion-content>
    <h1>QR details</h1>
<!--    <p>{{Dctrl.cr}}</p>

    <h2>headers: </h2>
    <p>{{Dctrl.headers}}</p>

    <h2>Coupon object:</h2>
    <p>{{Dctrl.coupon}}</p> -->
    <!-- <h1>test</h1> -->

    <!-- <p>{{Dctrl.results}}</p> -->
    <h1 class="expired" ng-hide="Dctrl.success">Error</h1>
    <h2 class="redeemed" ng-show = "Dctrl.success">Successfully Redeemed!</h2>

    <p>username: {{Dctrl.username}}</p>
    <p>coupon name: {{Dctrl.couponName}}</p>
    <p>couponId: {{Dctrl.couponId}}</p>
    <p ng-class="{expired: Dctrl.expired}">expiry date: {{Dctrl.couponExpire}}</p>
    <p>coupon description: {{Dctrl.couponDesc}}</p>

    <!-- <button class="button button-positive button-block" ng-disabled="Dctrl.redeemed || Dctrl.expired" ng-click="Dctrl.redeem()">Redeem</button> -->
    <p ng-hide = "Dctrl.results.item === undefined">item: {{Dctrl.results.item.name}}</p>
    <p ng-hide = "Dctrl.results.item === undefined">items remaining in stock: {{Dctrl.results.item.amount}}</p>
    <p ng-show="Dctrl.redeemed" ng-class="{redeemed: Dctrl.redeemed}">Already redeemed</p>
    <div ng-show="Dctrl.results.otherBranchItems !== undefined">
      <p>Items stock in all branches for this coupon:</p>
      <div ng-repeat="item in Dctrl.results.otherBranchItems">
        <p>Branch: |{{item.branch.name}}| amount: {{item.amount}}</p>
        
      </div>

    </div>


  </ion-content>
</ion-view>